@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
#topbar a {
  text-align:left;
  float:left;
  margin:5px 15px;
  padding:0px;
  font-family:sans-serif;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}
#topbar form {
  text-align:right;
  padding-right:15px;
}
#freesearch {
  width:150px;
}
#results tr {background:#F8F8F8;}
#results tr.reference {background:white;}
/* Search styles */
.sai-search .form-control{
    width:50%;
}
/* Facet styles */
.label-facet {background-color:#eee; color:#666; font-weight:normal; margin:.25em; display:inline-block;}
.facet-label {margin-left:.5em; display:block; text-align:left; white-space: normal;}
.facet .icon{margin-left:.25em;}

.navbar-right .form-control {
  width:auto!important;
}