/* SAI less */
/*********************************************************************/
/* MODIFICATIONS BY AO and WS                                        */
/*********************************************************************/
/* general */
a:hover {
  text-decoration: none;
}
#main-container {
  max-width: 1200px;
  margin-top: 53px;
}
.sai-content {
  margin: 2em;
  padding: 2em;
}
@media (min-width: 1200px) {
  #main-container {
    margin-top: 63px;
  }
}
/* for the branding/navigation */
a.sai-navbar-brand {
  margin: .75em;
  font-size: 1.35em;
  color: #fff;
}
.navbar-right .form-control {
  width: auto!important;
}
.navbar-right .form-control option {
  background-color: #35424b!important;
}
.inverse-dropdown {
  background-color: #35424b;
  border-color: #080808;
}
.inverse-dropdown > li > a {
  color: #999;
}
.inverse-dropdown > li > a:hover {
  color: #fff;
  background-color: #000;
}
/* modals */
.modal-backdrop,
.modal-backdrop.in {
  opacity: 0 !important;
  background: #000000 !important;
}
/* for the map (WS) */
#map {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 400px;
}
.map .panel-heading a:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}
.map .panel-heading a.collapsed:after {
  content: "\e080";
}
/* For the KWIC results (WS) */
div.hit-count {
  margin-top: 20px;
}
#results {
  table-layout: fixed;
}
#results .following,
#results .previous,
#results .hi {
  /*white-space: pre-wrap;*/
  /* css-3 */
  /*white-space: -moz-pre-wrap;*/
  /* Mozilla, since 1999 */
  /*white-space: -pre-wrap;*/
  /* Opera 4-6 */
  /*white-space: -o-pre-wrap;*/
  /* Opera 7 */
  word-wrap: break-word;
}
#results .previous {
  text-align: right;
}
#results .hi {
  width: 10em;
  text-align: center;
}
.hi {
  font-style: italic;
  font-weight: bold;
}
#results .reference .number {
  margin-right: 1em;
}
.sai-number {
  display: inline-block;
  margin: 0 2em;
}
.reference .kwic {
  background-color: #f4f4f4;
  padding-left: 6em;
}
/* slider styles */
h4.slider {
  display: block;
  margin: 0 0 1em;
  padding: 0 0 1em;
  background: transparent;
}
.slider-container {
  display: block;
  min-height: 20px;
  padding: 1em 0;
}
/* Browse page styles */
.person-identifiers {
  font-weight: 600;
}
.abc {
  margin: 0 -1em 1em -1em;
  padding: 0;
}
.pagination li a {
  font-size: .75em;
}
.pagination {
  margin-top: .25em;
}
.pagination > .sort-menu > span {
  margin: 0;
  padding: 0;
  line-height: 1.42857143!important;
}
.pagination > .sort-menu > span > .btn-group {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1em !important;
}
.pagination > .sort-menu > span > .btn-group > div > .btn {
  margin-left: -1px !important;
  padding: 6px 12px!important;
  line-height: 1.42857143!important;
  font-size: .75em!important;
}
.nav-justified li {
  padding: 0;
  margin: 0;
  font-size: .85em;
}
.nav-tabs.nav-justified > li > a {
  padding: 1em;
  margin: 0;
}
/* Facet styles */
.remove {
  background-color: #eee;
  color: #333;
  margin: .2em;
  padding: .25em;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: small;
}
.facet-label {
  margin-left: .5em;
  display: block;
  text-align: left;
  white-space: normal;
}
.facet .icon {
  margin-left: .25em;
}
