/*  This CSS stylesheet is meant to accompany the
    sarit XSLT stylesheets. */

.label {font-weight:normal;}
a.sai-navbar-brand{ margin: .75em; font-size:1.35em; color:white;}

#map { margin:0px; padding:0px; width:100%; height:400px;  }
section.accordion.map-panel {margin-left:0 !important; margin-bottom:2em;}
/* Overrides of Bootstrap */
.navbar { margin-bottom:0px; }
a:hover { text-decoration:none }
a { font-weight:normal }

/* SARIT or EpiDoc-specific style */
.supplied:before { content:'[' }
.supplied:after { content:']' }
.unclear:before { content:'[' }
.unclear:after { content:']' }

/* For apparatus entries (see hover.js) */
.app { color: #009933; }
.appcontainer { display:none }
.appentry { display:block }
.wit { font-weight:bold }
.tooltip {
	display:none;
	position:absolute;
	color: #000;
	border-radius: 2px;
	padding:10px;
    z-index:100;
}
small {
    margin-left:10px;
}
/* For the KWIC results */
div.hit-count { 
    margin-top:20px;
}
#results {
  table-layout: fixed;
}
#results .following,
#results .previous,
#results .hi {
  /*white-space: pre-wrap;*/
  /* css-3 */
  /*white-space: -moz-pre-wrap;*/
  /* Mozilla, since 1999 */
  /*white-space: -pre-wrap;*/
  /* Opera 4-6 */
  /*white-space: -o-pre-wrap;*/
  /* Opera 7 */
  word-wrap: break-word;
}
#results .previous {
  text-align: right;
}
#results .hi {
  width: 10em;
  text-align: center;
}
.hi {font-style: italic; font-weight:bold;}
#results .reference .number {
  margin-right: 1em;
}
.sai-number {display:inline-block; margin: 0 2em;}
.reference .kwic {background-color:#f4f4f4; padding-left:6em;}

/* Overwrites some bootstrap defaults */
.modal-backdrop, 
.modal-backdrop.fade.in{
opacity: 0.85 !important;
filter: alpha(opacity=85) !important;
background: #ffffff;
}

/* slider styles */
h4.slider {display:block; margin:0 0 1em;padding: 0 0 1em;}
.slider-container {display:block; min-height: 20px; padding:1em 0;}

/* Browse page styles */
.person-identifiers {font-weight:600;}
.abc {margin:0 -1em 1em -1em; padding:0;}
/*.abc {margin:0; margin-bottom: -1.25em; padding:0; text-align:center;}*/
/*.pagination li a {font-size:.85em;}*/
.pagination {margin-top:.25em;}
.nav-justified li {padding:0; margin:0; font-size:.85em;}
.nav-tabs.nav-justified > li > a {padding:1em; margin:0;}
.nav-justified {
/*
   border-collapse:separate;
   border-spacing:5px;
   */
}
/* GENERAL */
a {
  text-decoration:none;
}

* {
  box-sizing: border-box;
}
.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}
/* project-specific styles (inscriptions) */
body {
  margin:0px;
  font-family:sans-serif;
}
#topbar {
  text-align:center;
  background:#000000;
  padding: 15px 5px;
}
#text {
  position:relative;
  margin:0;
  padding:0;
  top:-23px;
}
.small { font-size:80%; }
/* from sarit-base.xsl */
div.body {
  margin:0px auto 25px auto;
  width:600px;
  font-size:14pt;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
      word-wrap: break-word;
  transition: all 0.3s ease;
}
.classifyinginfo {
  text-indent:0px;
  display:block;
  font-size:12pt;
  margin-bottom:25px;
	font-family: sans-serif;
  border-radius:5px;
  padding:5px;
}
.page {
  text-indent:0px;
  display:block;
  float:right;
  font-size:10pt;
	font-family: sans-serif;
  background:#eeeeee;
  border-radius:5px;
  padding:0;
}
p {
  text-indent:0px;
}
.indent {margin-left:2em;}
/* Formats line-groups (verses):
      These are inline so that following
      <ref> elements can be inline with the
      last line of a verse. */
div.lg {
  display:inline;
}
div.lg span.met {
   margin-top:20px;
   font-style:italic;
   display;block;
   font-size:90%;
}
/* Format individual lines as block elements */
div.lg span.l {
  display:block;
  margin-left:30px;
}
div.lg span.l+div.lg span.l:last-child {
  display:inline-block;
}
div.lg span.l
/* Add space after pāda-break (<caesura>) */
span.caesura:after {
  content: "\A\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0" !important;
  white-space:pre;
}
span.verse_offset {
  content: "\00a0";
  width:180px;
  display:inline-block;
}
.head, .trailer {
  clear:both;
  display:block;
  text-align:center;
  padding-top:20px;
}
div.body > span.head, div.body > span.trailer {
  font-size:200%;
}
div.toplevel > span.head {
  font-size:150%;
}

/* from sarit-drama.xsl */
div.sp {
  display:block;
}
span.speaker {
  display:inline;
  font-weight:700;
}
span.stage {
  display:block;
  text-align:center;
}
div.sp span.stage {
  display:inline;
}

/* from sarit-inline.xsl */
.sa-Deva {
  font-family:sans-serif;
}
.sa-Latn {
  font-style:italic;
}
.name {
  color:#5493ff;
  text-decoration: none;
  border-bottom: 1px dotted #5493ff;
}
.app .nav {
  display:block;
  text-align:right;
  padding:10px;
  font-size:8pt;
}
.app .nav a {
  border-bottom:none;
}
/* from sarit-note.xsl */
div.note-content {
  float:left;
  display:none;
}
a.note-marker {
  font-size:12pt;
}
/* from sarit-quotations.xsl */
div.base-text {
  font-size:150%;
}
div.quote-block {
  display:block;
  text-indent:0px;
  margin:5px 5px 0px 30px;
  padding:5px;
  border-left: 3px solid #eeeeee;
}
span.quote-inline {
  display:inline;
}
.lemma, .lemma:visited, .lemma:active  {
  font-weight:bold;
  color:#5493ff;
  border-style:none !important;
}
.quote-block+.reference {
  display:block;
  margin:0px 5px 5px 30px;
  padding:0px 0px 0px 20em;
  border-left: 3px solid #eeeeee;
  border-style:none;
}
/* from sarit-bibl.xsl */
div.bibentry {
  margin-bottom:10px;
  font-size:12pt;
}
div.bibentry a {
  font-weight: bold;
  text-decoration:none;
}
/* from sarit-person.xsl */
div.personentry {
  padding-left:25px;
  font-size:12pt;
}
div.personentry h5 {
  margin-left:-25px;
  margin-bottom:5px;
}
/* from sarit-epidoc.xsl */
section.accordion {
  background-color:#444;
  margin:0 30px;
}
section.accordion input {
  display:none;
}
section.accordion label {
  display:block;
  padding: 8px 0 8px 50px;
  margin:0;
  font-weight:bold;
  color:#eee;
}
section.accordion label:hover {
  color:#fff;
}
section.accordion article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  height: 0;
  position: relative;
  z-index: 10;
  text-align:center;
  vertical-align:middle;
  overflow:hidden;
  transition:
    height 0.3s ease-in-out,
    box-shadow 0.6s linear;
}
section.accordion #map {
  top:0;
  height:300px;
  padding-left:10px;
}
section.accordion input:checked ~ article {
  transition:
    height 0.5s ease-in-out,
    box-shadow 0.1s linear;
  box-shadow:0 0 0 1px rgba(155,155,155,0.3);
  height:300px;;
}
.accordion input:checked ~ article #map {
  display:block;
}
#teiHeader h1 {
  text-align:left;
  font-size:18pt;
}
div.epidoc p {
  text-indent:0;
  padding-left:0; 
}
div.epidoc h2 {
  font-style:italic;
  font-weight:normal;
  font-size:120%;
}
div.epidoc .textpart {
  margin-top:20px;
  margin-bottom:20px;
}
.lineno {
  position:relative;
  display:inline-block;
  left:-30px;
  width:20px;
  margin-right:-20px;
  font-size:10pt;
  color:gray;
}
span.epidoc {
  font-size:10pt;
  color:gray;
}
div.bibentry span a {
  font-weight:normal;
}
/* from sarit-app.xsl */
a.call-modal, a.call-modal:visited, a.call-modal:active {
  color:#5493ff;
  text-decoration: none;
  /*border-bottom: 1px dotted #5493ff;*/
  padding:0;
  font-family:sans-serif;
}
a.call-modal:hover {
  color: #5493ff;
  border: none;
}
.app h2, .toc h2 {
  font-family:sans-serif;
  font-size:0.8em;
  padding:0;
  margin:0 0 5px 0;
}
.app a, .app a:hover, .app a:active, .app a:visited {
  font-weight:bold;
  color:blue;
}

.toc ul { list-style-type:none; padding:0; }
.toc li a:hover, .toc li a:focus {  background: linear-gradient(#484848, #383838); }
.toc li a {
  display:block;
  color: white; 
  font-family:sans-serif;
  background: linear-gradient(#3E3E3E, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  padding: 5px 15px;
}
.appentry {
  display:block;
}
.appentry .siglum {
  font-weight:bold;
}
.appentry p {
  display:inline-block;
  text-indent:0px;
}
.modal-inner {
  font-family:sans-serif;
}
p {
  display:block;
}


/**
 * Quick fade on target to attract user attention
 */
.anchor:target {
    -webkit-animation: target-fade 3s 1;
    -moz-animation: target-fade 3s 1;
}
@-webkit-keyframes target-fade {
    0% { background-color: rgba(0,0,0,.1); }
    100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(0,0,0,.1); }
    100% { background-color: rgba(0,0,0,0); }
}

/**
 * Styles for the off canvas table of contents
 * Taken from the SARIT eXist-DB application  */
#toc-toggle {
  position: fixed;
  font-family:sans-serif;
  top: 50%;
  bottom: 50%;
  left:0px;
  height: 40px;
  margin-left:-4em;
  padding: 4px 8px;
  z-index: 3;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  background: #414141;
  color:white;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#toc-toggle a {
  color:white;
}
#toc:target + #toc-toggle {
  left:300px;
}


/* General: Styling of links */
.sai-content{margin:2em;padding:2em;}
/* slider styles */
h4.slider {display:block; margin:0 0 1.25em; padding: 0 0 1.25em; background-color:transparent;}
.slider-container {display:block; min-height: 20px; padding:1em 0;}


/* Facet styles */
.remove {background-color:#eee; color:#333; margin:.2em; padding:.25em; display:inline-block; border:1px solid #ccc; font-size:small;}
.facet-label {margin-left:.5em; display:block; text-align:left; white-space: normal;}
.facet .icon{margin-left:.25em;}

.navbar-right .form-control {
  width:auto!important;
}
.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
}
.inverse-dropdown > li > a {
  color: #999;
}
.inverse-dropdown > li > a:hover {
  color: #fff;
  background-color: #000;
}

.map .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.map .panel-heading a.collapsed:after {
    content:"\e080";
}