/* Application styles could go here */
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }

#map { margin:0px 0px 40px 0px; padding:0px; width:100%; height:400px; top:23px; }

/* Overrides of Bootstrap */
.navbar { margin-bottom:0px; }
a:hover { text-decoration:none }
a { font-weight:normal }

/* SARIT or EpiDoc-specific style */
.supplied:before { content:'[' }
.supplied:after { content:']' }
.unclear:before { content:'[' }
.unclear:after { content:']' }

/* For apparatus entries (see hover.js) */
.app { color: #009933; }
.appcontainer { display:none }
.appentry { display:block }
.wit { font-weight:bold }
.tooltip {
	display:none;
	position:absolute;
	color: #000;
	border-radius: 2px;
	padding:10px;
    z-index:100;
}
small {
    margin-left:10px;
}
/* For the KWIC results */
div.hit-count { 
    margin-top:20px;
}
#results {
  table-layout: fixed;
}
#results .following,
#results .previous,
#results .hi {
  /*white-space: pre-wrap;*/
  /* css-3 */
  /*white-space: -moz-pre-wrap;*/
  /* Mozilla, since 1999 */
  /*white-space: -pre-wrap;*/
  /* Opera 4-6 */
  /*white-space: -o-pre-wrap;*/
  /* Opera 7 */
  word-wrap: break-word;
}
#results .previous {
  text-align: right;
}
#results .hi {
  width: 10em;
  text-align: center;
}
#results .reference .number {
  margin-right: 1em;
}
/* Overwrites some bootstrap defaults */
.modal-backdrop, 
.modal-backdrop.fade.in{
opacity: 0.85 !important;
filter: alpha(opacity=85) !important;
background: #ffffff;
}

/* slider styles */
h4.slider {display:block; margin:0 0 1em;padding: 0 0 1em;}
.slider-container {display:block; min-height: 20px; padding:1em 0;}

/* Browse page styles */
.person-identifiers {font-weight:600;}
.abc {text-align:center;}
.pagination li a {font-size:.85em;}